html{
    box-sizing: border-box;
}


*,
*:before,
*:after{
    box-sizing: inherit;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #101c2c;
}
p{
    font-size: 1em;
    text-align: justify;
}
img{
    max-width: 100%;
}
.img-logo{
    width: 12rem;
    height: 6rem;
    display: block;
    float: left;
}
.container{
    margin: 0 auto;
    max-width: 75em;
}
.main-container{
    color: whitesmoke;
}
.clearfix::after {
    content: "";
    clear: both;
    display: block;
  }

/*Encabezado del sitio*/
header{
    padding: 1.25em 0;
    color: whitesmoke;
}
/*Modificando el menu del sitio*/
.div-bar{
    background-color: #c92234;
}
.nav-bar{
    padding: 1.25em 0;
}
.nav-bar a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.375rem;
    padding: 0.95em;
    display: block;
    text-align: center;

}
.nav-bar a:hover{
    background-color: #1c60a9;
}
@media (min-width:768px){
    .nav-bar a{
        display: inline;
    }
}
/*Modificando el menu lateral*/
.aside-menu{
    text-align: center;
    background-color: #c92234;
    color: whitesmoke;
}
.aside-menu ul{
    list-style: none;
    padding: 0;
}
.aside-menu ul li{
    padding: 1.25em;
}
.aside-menu ul li a{
    text-decoration: none;
    font-size: 1em;
    color: whitesmoke;
}
.aside-menu ul li:hover{
    background-color: #1c60a9;
}
@media(min-width:768px){
    .main-container{
        width: 70%;
        float: left;
    }
    .aside-menu{
        margin-left: 5%;
        width: 25%;
        float: right;
    }
}
/*Modificando pie de pagina*/
footer{
    background-color: #c92234;
    color: whitesmoke;
    margin-bottom: 0;
}
.copyright{
    background-color: #7b1420;
    padding: 1em 0;
    text-align: center;
}
.section-socialm ul{
    list-style-type: none;
}
.section-socialm ul li{
    padding: 0.5rem;
}
.section-socialm ul li a{
    font-size: 1em;
    text-decoration: none;
    color: whitesmoke;
    text-align: left;
}
@media (min-width: 768px) {
    .footer-site .about-us {
      float: left;
      width: 60%;
      text-align: left;
    }
    .footer-site .section-socialm {
      float: right;
      margin-left: 5%;
      width: 35%;
    }